@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  src: url('./pretendard/Pretendard-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 200;
  src: url('./pretendard/Pretendard-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('./pretendard/Pretendard-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: normal;
  src: url('./pretendard/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('./pretendard/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('./pretendard/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('./pretendard/Pretendard-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  src: url('./pretendard/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 900;
  src: url('./pretendard/Pretendard-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 500;
  src: url('./abel/Abel-Regular.ttf') format('opentype');
}
